[Unit]
Description=Tentris 0.17.1
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tentris --config /etc/tentris.d/%I.toml serve
WorkingDirectory=/var/local/tentris
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
